footer {
    height: 100px;
    padding: 0 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #000;

    @media screen and (max-width: 420px) {
        flex-direction: column;
        justify-content: center;
    }
}
footer span {
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}
footer span:first-child {
    @media screen and (max-width: 420px) {
        padding-bottom: 20px;
    }
}
